body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; /* 添加此行以使 body 宽度填充整个视口 */
  background-color: #f5f5f5;
  overflow-x: hidden; /* 添加此行以隐藏水平滚动条 */
}

.chat-container {
  width: 100%;/* 修改此行以使容器在默认情况下占用100%宽度 */
  height: 100%; /* 修改此行以使容器在默认情况下占用100%高度 */
  max-width: 100%; /* 添加此行以确保容器不超出屏幕宽度 */
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; /* 添加此行以使 chat-window 和 input-container 垂直堆叠 */
  flex-direction: column; /* 添加此行以使 chat-window 和 input-container 垂直堆叠 */
  overflow: hidden; /* 添加此行以隐藏容器的滚动条 */
}


.chat-window {
  flex-grow: 1; /* 添加此行以使 chat-window 占用可用空间 */
  overflow-y: auto;
  overflow-x: hidden; /* 添加此行以隐藏水平滚动条 */
  padding: 20px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.input-container {
  display: flex;
  padding: 10px;
}

textarea {
  flex-grow: 1;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  resize: none;
  min-height: 20px;
  max-height: 80px;
  overflow-y: auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.ai-message,
.user-message {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-start;
}

.ai-message img,
.user-message img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.ai-message pre,
.user-message pre {
  background-color: #f1f0f0;
  padding: 8px;
  border-radius: 4px;
  word-wrap: break-word;
  max-width: 84%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.user-message {
  flex-direction: row-reverse;
}

.user-message img {
  margin-right: 0;
  margin-left: 5px;
}

.user-message pre {
  background-color: #92e1a6;
  padding: 8px;
  border-radius: 4px;
  word-wrap: break-word;
  max-width: 84%;
}

.ai-message pre,
.user-message pre {
  margin: 0;
  font-family: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
}
